<div class="showcase-container centered-scrollable">
  <table>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Data type</th>
      <th>Required</th>
      <th>Default</th>
      <th>Demo</th>
    </tr>
    <tr>
      <td>Checkbox</td>
      <td>Custom checkbox</td>
      <td>This is a custom checkbox</td>
      <td>boolean</td>
      <td>true</td>
      <td></td>
      <td class="last-td">
        <lib-checkbox [control]="control"></lib-checkbox>
      </td>
    </tr>
  </table>
</div>
