$ns-blue: #45899b;
$ns-orange: #d4863d;
$ns-neutral-1: #333333;
$ns-neutral-2: #666666;
$ns-neutral-3: #868686;
$ns-neutral-4: #a6a6a6;
$ns-neutral-5: #cccccc;
$ns-neutral-6: #dfe0e3;
$ns-neutral-7: #eeeef0;
$ns-neutral-8: #f4f6f7;
$ns-error-primary: #c7472e;
$ns-error-secondary: #f0dbd6;
$ns-success-green: #599b4e;
$ns-warn-orange: #f8a91d;
$ns-teal: #10365a;

$ns-dark-blue-800: #10365a;
$ns-blue-900: #1350a4;
$ns-grey-800: #464a4c;
$ns-grey-900: #24282a;
$ns-background-grey: #eff2f3;
$ns-red-700: #d32f2f;
$ns-orange-400: #f4a947;
$ns-green-600: #2db231;
$ns-blue-800: #1e6ec3;
