<div class="detail">
  <div class="intro">Grid Filters Demo</div>
  <div class="detail-section">
    <div class="header">Filter Bar Demo</div>
    <lib-filter-bar></lib-filter-bar>
  </div>
  <div class="detail-section">
    <div class="header">Filter Modal Demo</div>
    <button class="button" (click)="handleLaunchClick()">Launch Grid Filter Modal</button>
  </div>
  <div class="detail-section">
    <div class="header">Manage Filters Modal Demo</div>
    <button class="button" (click)="launchManageFiltersModal()">Launch Manage Filters Modal</button>
  </div>
</div>
