<div class="showcase-container centered-scrollable">
  <table>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Data type</th>
      <th>Required</th>
      <th>Default</th>
      <th>Demo</th>
    </tr>
    <tr>
      <td>input</td>
      <td>Input global style</td>
      <td>Demo usage of input global style</td>
      <td>style</td>
      <td></td>
      <td></td>
      <td class="last-td">
        <input type="text" placeholder="native" />
      </td>
    </tr>
    <tr>
      <td>input</td>
      <td>Input global style</td>
      <td>Demo usage of input global style with emphasis</td>
      <td>style</td>
      <td></td>
      <td></td>
      <td class="last-td">
        <input type="text" class="emphasis" placeholder="native" />
      </td>
    </tr>
    <tr>
      <td>ion-input</td>
      <td>Ion-input global style</td>
      <td>Demo usage of ion-input tag with global style</td>
      <td>style</td>
      <td></td>
      <td></td>
      <td class="last-td">
        <ion-input placeholder="ion input"></ion-input>
      </td>
    </tr>
    <tr>
      <td>textarea</td>
      <td>Textarea global style</td>
      <td>Demo usage of ion-textarea/textarea with global style</td>
      <td>style</td>
      <td></td>
      <td></td>
      <td class="last-td">
        <textarea placeholder="native"></textarea>
      </td>
    </tr>
  </table>
</div>
