.profile-img {
  --width: 300px;
}

h4 {
  margin: 0;
}
input {
  box-shadow: none;
  padding: 0;
  background: transparent;
  margin: 0;
}

.width-value {
  display: flex;
  justify-content: space-between;
}
