<div class="showcase-container centered-scrollable">
  <table>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Data type</th>
      <th>Required</th>
      <th>Default</th>
      <th>Demo</th>
    </tr>
    <tr>
      <td>Colored text</td>
      <td>Multi colored text component</td>
      <td>This component renders a different text style in the part of a sentence.</td>
      <td>class: string <br />text: string</td>
      <td>true</td>
      <td></td>
      <td class="last-td">
        <lib-multi-colored-text class="f-calistoga f-w-400 f-lg h-160 f-white" [text]="'Cashout <span> Earning </span>'"></lib-multi-colored-text>
      </td>
    </tr>
    <tr>
      <td>Colored text</td>
      <td>Multi colored text component</td>
      <td>This component renders a different text style in the part of a sentence.</td>
      <td>class: string <br />text: string</td>
      <td>true</td>
      <td></td>
      <td class="last-td">
        <lib-multi-colored-text class="f-calistoga f-w-400 f-lg h-160 f-white" [text]="'<span> Monthly </span> Breakdown'"></lib-multi-colored-text>
      </td>
    </tr>
  </table>
</div>
