<div class="container">
  <div class="form" [formGroup]="form">
    <lib-input-field [readonly]="false" formControlName="firstName" type="text" label="First name"></lib-input-field>
    <lib-input-field formControlName="lastName" type="text" label="Last name"></lib-input-field>
    <lib-input-field formControlName="email" type="email" label="Email"></lib-input-field>
  </div>

  <div class="css-properties-container">
    <div class="title">CSS Custom Properties</div>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><code>--border-radius</code></td>
        <td>Border radius of input and it's container.</td>
      </tr>
      <tr>
        <td><code> --input-field-margin </code></td>
        <td>Margin around input field to separate other content like error messages.</td>
      </tr>
      <tr>
        <td><code>--label-font-size-floated</code></td>
        <td>Label font size after floated to top.</td>
      </tr>
      <tr>
        <td><code>--label-color</code></td>
        <td>Label text color.</td>
      </tr>
      <tr>
        <td><code>--label-position-left</code></td>
        <td>Label position distance from left.</td>
      </tr>
      <tr>
        <td><code>--label-position-top</code></td>
        <td>Label position distance from top.</td>
      </tr>
      <tr>
        <td><code>--label-float-position-top</code></td>
        <td>Label top position after floated to top.</td>
      </tr>
      <tr>
        <td><code>--label-padding</code></td>
        <td>Label padding to make space around.</td>
      </tr>
      <tr>
        <td><code>--label-font-family</code></td>
        <td>Font family for label.</td>
      </tr>
      <tr>
        <td><code>--label-font-style</code></td>
        <td>Font style for label.</td>
      </tr>
      <tr>
        <td><code>--label-font-weight</code></td>
        <td>Font weight for label.</td>
      </tr>
      <tr>
        <td><code>--label-font-size</code></td>
        <td>Label font size.</td>
      </tr>
      <tr>
        <td><code>--label-line-height</code></td>
        <td>Label line height.</td>
      </tr>
      <tr>
        <td><code>--input-font-color</code></td>
        <td>Input text color.</td>
      </tr>
      <tr>
        <td><code>--input-font-family</code></td>
        <td>Font family for input field.</td>
      </tr>
      <tr>
        <td><code>--input-font-size</code></td>
        <td>Font size for input text.</td>
      </tr>
      <tr>
        <td><code>--height</code></td>
        <td>Height of the input field.</td>
      </tr>
      <tr>
        <td><code>--width</code></td>
        <td>Width of the input field.</td>
      </tr>
      <tr>
        <td><code>--input-border</code></td>
        <td>Border around input field only.</td>
      </tr>
      <tr>
        <td><code>--input-padding</code></td>
        <td>Input field space inside.</td>
      </tr>
      <tr>
        <td><code>--box-shadow</code></td>
        <td>Input field box shadow.</td>
      </tr>
      <tr>
        <td><code>--border</code></td>
        <td>Border around the full component.</td>
      </tr>
    </table>
  </div>
</div>
