<div class="home">
  <div class="intro">
    The Next Sapien Component Library provides reusable, easily configurable Angular components to be consumed across Cosential projects in order to provide consistent look and
    feel, functionality, and implementation.
  </div>
  <div class="home__section">
    <div class="header">Requirements</div>
    <div class="info">
      <ul>
        <li>
          Many Next Sapien components wrap or otherwise consume <a href="https://material.angular.io/" target="_blank">Angular Material</a> components, and as such, any projects
          consuming this library must first install the requisite Angular Material npm packages. Please see the Angular Material documentation for installation instructions.
        </li>
        <li>
          To make the Angular Material components integrate with the Next Sapien design language, there are recommended CSS overrides which should be included (possibly with
          modification as necessary) in the consuming project. The relevant CSS overrides are noted in the detail for each Cosential component.
        </li>
      </ul>
    </div>
  </div>
  <div class="home__section">
    <div class="header">Installation</div>
    <div class="info">
      Run <code>npm run package</code> to build the component library and package it into a tarball. The tarball will be created in the <code>dist</code> folder, from which it can
      be copied into other angular projects. Install the library using <code>npm install /path/to/tarball</code>
    </div>
  </div>
</div>
