@import '../../../styles/colors';

:host {
  display: flex;
  flex: 0 0 200px;
  background-color: $ns-background-grey;
  border-right: 1px solid $ns-neutral-6;
}

.item-list {
  display: flex;
  flex: 0 0 200px;
  flex-direction: column;
  overflow-y: overlay;

  &__header {
    display: flex;
    flex: 0 0 auto;
    padding: 5px 15px;
    color: $ns-background-grey;
    font-size: 14px;
    background-color: $ns-grey-800;
  }

  &__item {
    display: flex;
    flex: 0 0 auto;
    padding: 5px 20px;
    color: $ns-grey-900;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: $ns-neutral-6;
    }
  }
}
