.vertical {
  --text-color: var(--ion-text-color);
  --image-width: 90px;
  --image-height: 90px;
}
.horizontal {
  --text-color: var(--ion-text-color);
  --image-width: 56px;
  --image-height: 56px;
}
