<div class="showcase-container centered-scrollable">
  <table>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th>style class</th>
      <th>Required</th>
      <th>Default</th>
      <th>Demo</th>
    </tr>
    <tr>
      <td>ion-button/ button</td>
      <td>Outline button global style</td>
      <td>Outlined button's global style demo</td>
      <td>app-outline-button</td>
      <td></td>
      <td></td>
      <td class="last-td">
        <div class="button-container">
          <ion-button class="app-outline-button">outline button</ion-button>
        </div>
      </td>
    </tr>
    <tr>
      <td>ion-button/ button</td>
      <td>Primary button global style</td>
      <td>Primary button's global style demo</td>
      <td>app-primary-button</td>
      <td></td>
      <td></td>
      <td class="last-td">
        <div class="button-container">
          <ion-button class="app-primary-button">primary button</ion-button>
        </div>
      </td>
    </tr>

    <tr>
      <td>ion-button/ button</td>
      <td>Black button global style</td>
      <td>Black button's global style demo</td>
      <td>app-black-button</td>
      <td></td>
      <td></td>
      <td class="last-td">
        <div class="button-container">
          <ion-button class="app-black-button">black button</ion-button>
        </div>
      </td>
    </tr>

    <tr>
      <td>ion-button/button</td>
      <td>Rounded button global style</td>
      <td>Rounded button's global style demo</td>
      <td>app-round-button</td>
      <td></td>
      <td></td>
      <td class="last-td">
        <ion-button class="app-round-button">+</ion-button>
      </td>
    </tr>
  </table>
</div>
