<div class="showcase-container centered-scrollable">
  <h2>Message box Component</h2>
  <p>Message box Component can be used as a view for a simple message model. It contains</p>

  <section class="arguments">
    <h3>Arguments</h3>
    <dl>
      <dt>ImageUrl: a valid url to an image</dt>
      <dd>[imageUrl]="'https://cdn.pixabay.com/photo/2016/10/10/23/19/box-1730159_960_720.png'"</dd>
      <dd>[imageUrl]="'https://cdn.pixabay.com/photo/2014/12/21/23/40/bookcase-575818_960_720.png'"</dd>

      <dt>Title: A title describing the source of the message. It could be another user</dt>
      <dd>[title]="'inbox'"</dd>
      <dd>[title]="'From: Imrah khan'"</dd>

      <dt>Text: A the message itself</dt>
      <dd>[text]="You just got a message from Shaoib"</dd>
      <dd>[text]="How Faizan, how's the QA going"</dd>

      <dt>imageDescription</dt>
      <dd>[imageDescription]="an image of an open box"</dd>
      <dd>[imageDescription]="An open envelope icon"</dd>
    </dl>
  </section>
  <lib-message-box [imageUrl]="'/assets/list-is-empty.png'"></lib-message-box>
  <div class="interact">
    <div class="control">
      <input type="text" placeholder="[imageUrl]" (input)="updateImageUrl($event)" />
      <input type="text" placeholder="[title]" (input)="updateTitle($event)" />
      <textarea type="text" placeholder="[text]" (input)="updateText($event)"></textarea>
    </div>
    <lib-message-box [title]="title" [text]="text" [imageUrl]="imageUrl || '/assets/list-is-empty.png'"></lib-message-box>
  </div>
</div>
